# Python
*.pyc
__pycache__/
*.pyo
*.pyd
*.so

# Virtual Environment
# This is the most important one!
venv/
*.env
.env

# Ignore virtual environments
venv/
.venv/


# IDE / Editor Files
.vscode/
.idea/
*.sublime-project
*.sublime-workspace

# OS Files
.DS_Store
Thumbs.db

# Build/Dist artifacts (Good practice)
build/
dist/
*.egg-info/